<div class="container">
    <div class="adicionarItem">
        <h3>Adicionar Cliente</h3>
        <div class="form">
            <input [(ngModel)]="nome" type="text" placeholder="Nome" />
            <input [(ngModel)]="phone" type="tel" placeholder="Telefone" />
            <input [(ngModel)]="endereco" type="text" id="endereco" placeholder="Insira o endereço">
            <input [(ngModel)]="ref" type="text" placeholder="Ponto de referência" (keyup.enter)="addUser()"/>
            <button (click)="addUser()">Adicionar</button>
        </div>
    </div>
    <div class="main">
        <div class="searchContent">
            <div class="control">
                <input class="searchInput" [(ngModel)]="cliente" type="search" placeholder="Pesquise o cliente">
                <button class="search" (click)="procura()">Pesquisar</button>
            </div>
            <table *ngIf="showAll==false" class="table" style="width: 60vw;">
                <thead>
                    <tr class="tablel">
                        <th scope="col">Nome</th>
                        <th scope="col">Telefone</th>
                        <th scope="col">Endereço</th>
                        <th scope="col">Ponto de referência</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tr" *ngFor="let user of searchUsers; index as i">
                        <td>{{ user.nome1 + ' ' + (user.nome2 ? user.nome2 : '') + ' ' + (user.nome3 ? user.nome3 : '')  }}</td>
                        <td>{{ user.phone }}</td>
                        <td>{{ user.endereco }}</td>
                        <td>{{ user.ref }}</td>
                        <td> <button type="button" (click)="removeUser(user.id)">Remover</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="users" *ngIf="showAll==true">
            <table class="table" style="width: 60vw;">
                <thead>
                    <tr class="tablel">
                        <th scope="col">Nome</th>
                        <th scope="col">Telefone</th>
                        <th scope="col">Endereço</th>
                        <th scope="col">Ponto de referência</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tr" *ngFor="let user of users; index as i">
                        <td>{{ user.nome1 + ' ' + (user.nome2 ? user.nome2 : '') + ' ' + (user.nome3 ? user.nome3 : '')  }}</td>
                        <td>{{ user.phone }}</td>
                        <td>{{ user.endereco }}</td>
                        <td>{{ user.ref }}</td>
                        <td> <button type="button" (click)="removeUser(user.id)">Remover</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>