<div class="container">
    <div class="adicionarItem">
        <h3>Adicionar Cliente</h3>
        <div class="form">
            <input [(ngModel)]="nome" type="text" placeholder="Nome" />
            <input [(ngModel)]="telefone" type="number" placeholder="Telefone" />
            <input [(ngModel)]="endereco" type="text" id="endereco" placeholder="Insira o endereço:">
            <div class="button" (click)="addUser()">Adicionar</div>
        </div>
    </div>

    <table class="table" style="width: 60vw;">
        <thead>
            <tr class="tablel">
                <th scope="col">Nome</th>
                <th scope="col">Telefone</th>
                <th scope="col">Endereço</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr class="tr" *ngFor="let user of users; index as i">
                <td>{{ user.nome1 + ' ' + (user.nome2 ? user.nome2 : '') + ' ' + (user.nome3 ? user.nome3 : '')  }}</td>
                <td>{{ user.telefone }}</td>
                <td>{{ user.endereco }}</td>
                <td> <button type="button" (click)="removeUser(user.id)">Remover</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>