.container {
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(247, 247, 247);
    border-top: 5px solid #4e98c2;
    border-radius: 5px;
    min-height: 85vh;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.form {
    font-size: 1.2vw;
    display: flex;
    flex-direction: row ;
    justify-content: center;
    margin-bottom: 2.5vw;
    input, select {
        margin-right: 2vw;
        color: black;
        background-color: white;
        border: 1px solid black;
        border-radius: 5px;
        padding-left: 5px;
        text-indent: 5%;
    }
}

.i-preco{
    width: 10%;
}

button {
    text-align: center;
    background-color:#4e98c2;
    padding: 0.7vw 1vw 0.7vw 1vw;
    color: white;
    border-radius: 5px;
    border: none;
}

.adicionarItem{
    text-align: center;
    h3{
        font-weight: 900;
        font-size: 1.2vw;
        margin-top: 2vh;
    }
}

.item {
    font-size: 1.8vw;
}

.tablel{
    color:black;
    margin-top: 2vw;
}

.tr{
    color:black;
}
button:hover {
    background-color: black;
    color:white;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

td{
    vertical-align: unset;
}
