.container {
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(247, 247, 247);
    border-top: 5px solid #4e98c2;
    border-radius: 5px;
    min-height: 85vh;
    width: 62.1vw;
}

table{
    margin-bottom: 10vh;
    font-size: 20px;
    color:black;
    margin: auto;
}

.tr td {
    padding-top: 15px;
}

.steppercontrol{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 15vh;
    width: 62.1vw;
    svg{
        // position: absolute;
        // left: 50%;
        // transform: translateX(-50%);
        height: 6vh;
        width: 5vw;
    }
    
}

.step1{
    position: absolute;
    left: 40%;
    svg{
        width: 5vw;
        min-width: 50px;
    }
}

.step2{
    position: absolute;
    right: 40%;
    svg{
        width: 5vw;
        min-width: 50px;
    }
}

.color4e {
    color: #4e98c2;
}

.stepOf{
    color: black;
    height: 6vh;
}

.stepper1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prod{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15vh;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.entrega{
    border-radius: 15px;
    width: 22vh;
    height: 30px;
    bottom: 10%;
    text-indent: 10%;
}

.searchInput{
    border-radius: 15px;
    text-indent: 10%;
    margin-bottom: 5vh;
    height: 6vh;
}

ul li {
    color:black;
    list-style-type: none;
}

p{
    color: black;
    margin-bottom: 6vh;
}

h2 {
    color: black;
    margin-bottom: 6vh;
}

.payment{
    border-radius: 15px;
    width: 6vw;
    height: 3vh;
    margin-bottom: 5vh;
    background-color: white;
    text-indent: 5%;
}

mat-label{
    color:white;
}

.desconto{
    width: 5vw;
}
/* Button's */

.step{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: 1px;
    border: none;
    text-align: center;
    padding: 8px;
}

.step:hover{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-weight: bold;
    height: 8vh;
    width: 12vw;
}

.open{
    margin-top: 10vh;
    margin-bottom: 5vh;
    cursor: pointer;
    font-size: 1.5vw;
}

.user{
    width: 100%;
    height: 100%;
    color: black;
    background-color: transparent;
    border-radius: 15px;
}

.cardapio{
    width: 15vw;
    height: 5vh;
    color: black;
    background-color: transparent;
    margin-top: 5vh;
}

.search{
    border-radius: 15px;
    margin-left: 1vw;
    height: 6vh;
}

.conf{
    height: 6vh;
    width: 10vw;
    margin-top: 5vh;
    border-radius: 15px;
}

.conf:hover {
    background-color: #7CFC00;
    font-weight: bold;
}

.button{
    text-align: center;
    background-color:#4e98c2;
    padding: 0.7vw 1vw 0.7vw 1vw;
    color: white;
    border-radius: 5px;
    border: none;
}

.button:hover{
    background-color: black;
    color: white;
}

.zerar{
    position: fixed;
    right: 3%;
    bottom: 15vh;
    background-color: transparent;
}

.cart{
    position: fixed;
    right: 3%;
    bottom: 5vh;
    height: 6vh;
    width: 4vw;
    cursor: pointer;
}

.refresh{
    height: 6vh;    
    width: 4vw;
}

td{
    vertical-align: middle;
}

.stepper2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.control{
    display: flex;
    flex-direction: row;
    margin-top: 6vh;
}

.frow {
    display: flex;
    flex-direction: row;
}

.reroll{
    background-color: #4e98c2;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    height: 6vh;
    width: 4vw;
    text-align: center;
    font-weight: bold;
    vertical-align: none;
}

.relative {
    position: relative;
}

.start {
    left: 0;
    margin-right: 20px;
}

.end {
    right: 0;
}

.fundo {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
}

.fitcontent {
    width: fit-content;
}

.mauto {
    margin: 0 auto;
}