.container {
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(247, 247, 247);
    border-top: 5px solid #4e98c2;
    border-radius: 5px;
    min-height: 85vh;
    width: 62.1vw;
}

table{
    margin-bottom: 10vh;
    font-size: 20px;
    color:white;
}

.tr td {
    padding-top: 15px;
}

.steppercontrol{
    display: flex;
    align-items: flex-end;
}

.stepper1{
    display: flex;
    flex-direction: column;
    width: 100%; 
    min-height: 100%;
}

.stepper2{
    margin-top: 5vh;
}

.stepper3{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
}

.stepAc{
    font-weight: bold;
    color: white;
    background-color: grey;
    height: 8vh;
    width: 12vw;
}
.stepOf{
    color: black;
    height: 6vh;
    width: 10vw;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.entrega{
    border-radius: 15px;
    width: 22vh;
    height: 30px;
    bottom: 10%;
    text-indent: 10%;
}

.table{
    width: 60vw;
}

.searchInput{
    border-radius: 15px;
    text-indent: 10%;
    margin-bottom: 5vh;
    height: 6vh;
}

ul li {
    color:white;
    list-style-type: none;
}

p{
    color: white;
    margin-bottom: 6vh;
}

h2 {
    color: white;
    margin-bottom: 6vh;
}

.payment{
    border-radius: 15px;
    width: 6vw;
    height: 3vh;
    margin-bottom: 5vh;
    background-color: white;
    text-indent: 5%;
}

mat-label{
    color:white;
}

.desconto{
    width: 5vw;
}
/* Button's */

.step{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: 1px;
    border: none;
    text-align: center;
    padding: 8px;
}

.step:hover{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-weight: bold;
    height: 8vh;
    width: 12vw;
}

.open{
    width: 110px;
    height: 50px;
    background: transparent;
    color:white;
    border:none;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.user{
    width: 100%;
    height: 100%;
    color: white;
    background-color: transparent;
    border-radius: 15px;
}

.cardapio{
    width: 15vw;
    height: 5vh;
    color: white;
    background-color: transparent;
    margin-top: 5vh;
}

.search{
    border-radius: 15px;
    margin-left: 1vw;
    height: 6vh;
}

.conf{
    height: 6vh;
    width: 10vw;
    margin-top: 5vh;
    border-radius: 15px;
}

.conf:hover {
    background-color: #7CFC00;
    font-weight: bold;
}

.button{
    background-color: yellow;
    border-radius: 15px;
    height: 6vh;
}

.button:hover{
    background-color: black;
    color: white;
}

.zerar{
    position: fixed;
    right: 3%;
    bottom: 15vh;
    background-color: transparent;
}

.carrinho{
    position: fixed;
    right: 3%;
    bottom: 5vh;
    height: 6vh;
    width: 4vw;
}

.refresh{
    height: 6vh;    
    width: 4vw;
}
