<div class="container">
        <div class="procura">
                <div class="paged">
                        <!--- <mat-paginator> -->
                                <table>
                                        <tbody>
                                                <tr *ngFor="let item of pagedItems; index as i">
                                                <td>{{ item.id }}</td>
                                                <td>{{ item.user.nome1 }} </td>
                                                <td><button type="button">Ver Pedido</button></td>
                                                </tr>
                                        </tbody>
                                </table>

                                <!-- pager -->
                                <ul *ngIf="pagination.pages && pagination.pages.length" class="pagination">
                                    <li [ngClass]="{disabled:pagination.currentPage === 1}">
                                        <a (click)="setPage(1)">First</a>
                                    </li>
                                    <li [ngClass]="{disabled:pagination.currentPage === 1}">
                                        <a (click)="setPage(pagination.currentPage - 1)">Previous</a>
                                    </li>
                                    <li *ngFor="let page of pagination.pages" [ngClass]="{active:pagination.currentPage === page}">
                                        <a (click)="setPage(page)">{{page}}</a>
                                    </li>
                                    <li [ngClass]="{disabled:pagination.currentPage === pagination.totalPages}">
                                        <a (click)="setPage(pagination.currentPage + 1)">Next</a>
                                    </li>
                                    <li [ngClass]="{disabled:pagination.currentPage === pagination.totalPages}">
                                        <a (click)="setPage(pagination.totalPages)">Last</a>
                                    </li>
                                </ul>
                       <!-- </mat-paginator> --> 
                </div>
        </div>
        <div class="pedido">
                <h1>pedido</h1>
        </div>
</div>