body {
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
}

.top{
    background-color:#0e0c0c;
    text-align: center;
    width: 100vw;
    height: 12vh;
}

.top .logo {
    max-height: 70px;
    margin-top: 1.1vh;
}

.content{
    display: flex;
    width: 100vw;
    min-height: 88vh;
    align-items: stretch;
}
.components {
    width: 88vw;
    background-color:#181616;
    display: flex;
    flex-direction: row;
    height: max-content;
    min-height: 88vh ;
}

.menu {
    display: flex;
    flex-direction: column;
    background-color:#141212;
    text-align: center;
    width: 12vw;
    min-height: 88vh;
    padding-top: 3vh;
}

.menu a{
    color: white;
    display: flex;
    padding-left: 3vh;
    padding-bottom: 2vh;
    cursor: pointer;
    text-decoration: none;
}
.menu a:hover{
    color:orange;
}
