<div class="fixed inset-0 bg-black/80 z-[45]" (click)="_menu.closeMenu()" *ngIf="(stateMenu | async) == true"></div>
<div class="fixed z-50 primary-navigation" role="dialog" aria-modal="true" data-visible="false">
    <div class="fixed inset-0"></div>

    <div class="fixed inset-0 grid grid-cols-[max(90%,_20rem)_1fr] bg-transparent navButton">
        <div class="relative flex w-full max-w-xs bg-color1">
            <!-- Close btn -->
            <div class="absolute left-full top-0 flex w-16 justify-center pt-5">
                <button type="button" class="-m-2.5 p-2.5" (click)="_menu.closeMenu()">
                    <span class="sr-only">Close sidebar</span>
                    <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>

            <!-- Sidebar component, swap this element with another sidebar if you like -->
            <div class="flex grow flex-col gap-y-5 overflow-y-auto bg-gray-900 px-6 ring-1 ring-white/10">
                <div class="flex h-16 shrink-0 items-center justify-center mt-4">
                    <img class="h-16 w-auto" src="assets/img/logo.png"
                        alt="Hakuna Batata">
                </div>
                <nav class="flex flex-1 flex-col">
                    <ul role="list" class="flex flex-1 flex-col gap-y-7">
                        <li>
                            <ul role="list" class="-mx-2 mt-2 space-y-1">
                                <!-- Current: "bg-gray-800 text-white", Default: "text-gray-400 hover:text-white hover:bg-gray-800" -->
                                <li *ngFor="let item of menu_items">
                                    <app-list-item [item]="item"></app-list-item>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>