/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  padding: 0px; 
  box-sizing: border-box; 
  outline: none; 
  overflow-x: hidden;
  background-color:#ecf0f5;
  width: 100%;
}

.container {
  width: 90%;
  max-width: 1180px;
}

.hidden {
  display: none;
}

.flexr {
  display: flex;
}

.flexc {
  display: flex;
  flex-direction: column;
}

.fa_center {
  align-items: center;
}

.fj_center {
  justify-content: center;
}

.float_right {
  float: right;
}

.float_left {
  float: left;
}

.fitContent {
  width: fit-content;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
