/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply mx-auto mt-16 h-full w-11/12 max-w-7xl
  }

  .border-default {
    @apply border-t-4 border-solid border-blue rounded-md
  }
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.flexr {
  display: flex;
}

.flexc {
  display: flex;
  flex-direction: column;
}

.fa_center {
  align-items: center;
}

.fj_center {
  justify-content: center;
}

.float_right {
  float: right;
}

.float_left {
  float: left;
}

.fitContent {
  width: fit-content;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}