<div class="flex w-full">
    <div class="w-1/5 font-bold text-center text-lg border-solid border-r border-l border-t border-gray-300 py-2">Nome</div>
    <div class="w-1/5 font-bold text-center text-lg border-solid border-r border-t border-gray-300 py-2">Telefone</div>
    <div class="w-1/5 font-bold text-center text-lg border-solid border-r border-t border-gray-300 py-2">Endereço</div>
    <div class="w-1/5 font-bold text-center text-lg border-solid border-r border-t border-gray-300 py-2">Ponto de referência</div>
    <div class="w-1/5 font-bold text-center text-lg border-solid border-r border-t border-gray-300 py-2"></div>
</div>